{{#if products}}
<div class="row">
	<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
		<ul class="list-group-item">
		{{#each products}}
			<li class="list-group-item">
				<span class="badge">{{this.qty}}</span>
				<strong>{{this.item.title}}</strong>
				<span class="label label-success">${{this.price}}</span>
				<div class="btn-group">
					<button class="btn btn-primary btn-xs dropdown-toggle" data-toggle='dropdown'>Action <span class='caret'></span></button>
					<ul class="dropdown-menu">
						<li><a href="/reduce/{{this.item._id}}">Reduce By 1</a></li>
						<li><a href="/remove/{{this.item._id}}">Reduce By All</a></l>
					</ul>
				</div>
			</li>
		{{/each}}

		</ul>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
		<strong>Total: {{totalPrice}}</strong>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">

		<form method="post" action="/allpay">
		        <input type="hidden" name="MerchantID" placeholder="MerchantID" value="2000132">
		        <input type="hidden" name="MerchantTradeNo" placeholder="MerchantTradeNo" value="{{RandonNumber}}">
		        <input type="hidden" name="MerchantTradeDate" placeholder="MerchantTradeDate" value="{{now}}">
		        <input type="hidden" name="PaymentType" placeholder="PaymentType" value="aio">
		        <input type="hidden" name="TotalAmount" placeholder="TotalAmount" value="{{totalPrice}}">
		        <input type="hidden" name="TradeDesc" placeholder="TradeDesc" value="allpay 商城購物-">
		        <input type="hidden" name="ItemName" placeholder="ItemName" value="{{#each products}} {{item.title}} x {{qty}}個 {{/each}}">
		        <input type="hidden" name="ReturnURL" placeholder="ReturnURL" value="https://putsreq.com/7ATnz7ij618aHx41WhMB">
		        <input type="hidden" name="ChoosePayment" placeholder="ChoosePayment" value="ALL">
		        <input type="hidden" name="CheckMacValue" placeholder="不用填">
			<button type="submit"><img src="images/allpay.png" alt="" /></button>
		</form>


	</div>
</div>
{{else}}
<div class="row">
	<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
		<strong>No item in cart</strong>
	</div>
</div>
{{/if}}
